@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ETEC Professor Basilides de Godoy<br />
    R. Guaipá, 678 - Vila Leopoldina, São Paulo - SP<br />
    <abbr title="Email:">Email:</abbr>
    gabriel.silva2615@etec.sp.gov.br
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>